@import "../../App.scss";

.prompt-container {
  width: 80%;
}

.prompt-input {
  width: 35%;
  border: 1px solid #a5a6f6;
  border-radius: 0.5rem;
  padding: 3rem 2rem;
}

.buttons-container {
  button {
    font-size: 12px;
    background-color: $primary-color;
    color: $text-secondary-color;
    padding: 0.5rem 2rem;
    border-radius: 0.2rem;
    margin-right: 2rem;
  }
  .send-button {
    font-size: 1.4rem;
    background-color: #040273;
    color: $text-secondary-color;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}
