@import "../../App.scss";

.hero-container {
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 80%;
    padding-bottom: 3rem;
    div {
      h1 {
        color: #af7823;
        font-size: 5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.179px;
      }
      p {
        color: rgba(255, 255, 255, 0.7);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.2px;
      }
      button {
        margin-top: 1rem;
        padding: 10px 20px;
        border-radius: 26px;
        background: #fff;
      }
    }
    @media screen and (max-width: 1440px) {
      div {
        h1 {
          font-size: 3rem;
        }
      }
    }
  }
}

.client-count-container {
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
  padding: 5rem 0rem;
  .client-count {
    width: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 33px;
    div {
      border-right: 1px solid $primary-color;
      padding-right: 2.5rem;
      h1 {
        color: $primary-color;
        font-size: 64px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      p {
        color: $text-primary-color;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
    div:last-child {
      border-right: 0px;
    }
  }
}

.about-us-container {
  display: flex;
  justify-content: center;
  background-color: #ccc;
  padding: 3rem 0rem;

  .about-us {
    width: 75%;
    h1 {
      color: $primary-color;
      font-size: 64px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 1.28px;
      text-align: center;
      margin-bottom: 3rem;
    }
    .info-div {
      display: flex;
      justify-content: space-between;
      .left {
        width: 30%;
        img {
          border-radius: 10px;
        }
      }
      .right {
        width: 68%;
        .img-container {
          display: flex;
          img {
            width: 100%;
          }
          img:first-child {
            margin-right: 1rem;
          }
        }

        .text-container {
          margin-top: 2rem;
          li {
            display: flex;
            align-items: center;
            color: $primary-color;
            margin: 1.5rem 0rem;
          }
          p {
            font-family: "DM Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.4px;
          }
          svg {
            width: 40px;
            height: 40px;
            margin-right: 1rem;
          }
        }
        @media screen and (max-width: 1440px) {
          .img-container {
            img {
              display: none;
            }
          }
        }
      }
    }
  }
}

.legal-services-container {
  background-color: #ccc;
  display: flex;
  justify-content: center;
  padding: 3rem 0rem;
  .legal-services {
    width: 80%;
    h1 {
      color: $primary-color;
      font-size: 64px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 1.28px;
      text-align: center;
      margin-bottom: 2rem;
    }
    .service {
      display: flex;
      align-items: center;
      gap: 25px;
      border-radius: 20px;
      background: #ccc;
      box-shadow: 0px 0px 148.4px 0.5px rgba(97, 97, 97, 0.15);
      padding: 1rem;
      margin: 1rem;
      .left {
        width: 20%;
        img {
          width: 100%;
        }
      }
      .right {
        width: 80%;
        h3 {
          color: $primary-color;
          font-size: 30px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        p {
          overflow: hidden;
          color: $text-primary-color;
          text-overflow: ellipsis;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
        }
      }
    }
  }
}
